name: 'Terraform CI/CD'

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Google Cloud Credentials
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.8

      - name: Terraform Init
        run: terraform init
        working-directory: ./gke-terraform-project

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color
        working-directory: ./gke-terraform-project
        if: github.event_name == 'pull_request' || github.event_name == 'push'


      - name: Terraform Plan Status
        if: steps.plan.outcome == 'failure'
        run: exit 1

      - name: Create Deployment
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.repos.createDeployment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: context.ref,
              environment: 'production',
              required_contexts: [],
            })

  deploy:
    name: 'Deploy to Production'
    runs-on: ubuntu-latest
    needs: terraform
    environment:
      name: production
      url: 'https://console.cloud.google.com'
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Google Cloud Credentials
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.2.8

      - name: Terraform Init
        run: terraform init
        working-directory: ./gke-terraform-project

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: ./gke-terraform-project